/*Body Container================================================================================*/
.body-container {
  width: auto;
  height: 1920px;
  background: plum;
  display: flex;
  flex-direction: column;
  place-content: center center;
}

/*Navigation Bar================================================================================*/
.navigation {
  width: auto;
  height: 80px;
  display: flex;
  background-color: #1f2937;
  place-content: center center;
  flex-flow: rows wrap;
  gap: 20px;
}

.logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: #F9FAF8
}

button {
  background-color: transparent;
  border: 0px;
  color: #F9FAF8
}

.push {
  margin-left: auto;
}

/*Global Body Variables=====================================================================*/
.body {
  width: auto;
  display: flex;
}

/*Body One===============================================================================*/
.body.one {
  width: auto;
  height: 500px;
  background-color: #1f2937;
  place-content: center center;
  flex-flow: row wrap;
  gap: 20px;
}

.body.one.container1 {
  width: 500px;
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  place-content: center flex-start;
  gap: 10px;
  color:#E5E7EB;
  font-family: Arial, Helvetica, sans-serif;
}

.body.one.headline {
  color: #F9FAF8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.body.one.signup {
  width: 125px;
  height: 40px;
  background-color: #3b82f6;
  border: 0px;
  color:#E5E7EB;
  border-radius: 4px
}

.body.one.container2 {
  width: 500px;
  height: 250px;
  display: flex;
  background-color: #6d747d;
  place-content: center center;
  flex-flow: row wrap;
  color:#E5E7EB;
  outline: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

/*Body Two===============================================================================*/
.body.two {
  height: 100px;
  background-color: #F9FAF8;
  place-content: center center;
  flex-flow: row wrap;
}

.body.two.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #1F2937;
  font-weight: bolder;
}

/*Body Three===============================================================================*/
.body.three {
  width: auto;
  height: 400px;
  background-color: #F9FAF8;
  place-content: center center;
  flex-flow: row wrap;
  gap: 20px
}

.body.three.container {
  width: 200px;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
}

.body.three.box {
  width: 200px;
  height: 200px;
  outline: 6px solid #3b82f6;
  background-color: transparent;
  border-radius: 4px
}

/*Body Four===============================================================================*/
.body.four {
  flex: 1;
  height: 500px;
  background-color: #e5e7eb;
  place-content: center center;
  flex-flow: column wrap;
  color: #1F2937;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
}

.body.four.container1{
  width: 700px;
  flex-flow: column wrap;
  margin-top:40px;
}

.body.four.container2{
  width: auto;
  flex-flow: column wrap;
  margin-left: 400px;
}

.body.four.author1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: large;
}

/*Body Five===============================================================================*/
.body.five {
  flex: 0 10 auto;
  height: 500px;
  background: #F9FAF8;
  place-content: center center;
  flex-flow: row wrap;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.body.five.box1 {
  width: 700px;
  height: 200px;
  background-color: #3b82f6;
  border-radius: 4px;
  place-items: center center;
}

.body.five.box1.container1 {
  width: 300px;
  height: 100px;
  flex-flow: column nowrap;
  place-items: flex-start center;
  background-color: transparent;
}

.body.five.headline1 {
  color: #E5E7EB;
  font-weight: bolder;
  background-color: transparent;
  font-size: 25px;
}

.body.five.text2 {
  color: #E5E7EB;

  font-size: 20px;
  background-color: transparent;
}

.body.five.box1.container2 {
  width: auto;
  height: 200px;
  flex-flow: column wrap;
  place-content: center center;
  background-color: transparent;

}

.body.five.button1 {
  width: 200px;
  height: 50px;
  border: 2px solid #E5E7EB;
  border-radius: 5px;
  background-color: transparent;
  color: #E5E7EB;
}


/*Footer================================================================================*/
.footer-container {
  width: auto;
  height: 200px;
  background: #1f2937;
  color: #E5E7EB;
  display: flex;
  flex-direction: row;
  place-content: center center;
  align-items: center;
}